{% extends 'base.html.twig' %}

{% block title %}Mimic | Votre panier
{% endblock %}

{% block body %}


	<div class="container my-5">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>Photo</th>
					<th>Titre</th>
					<th>Référence</th>
					<th>Catégorie</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Prix total</th>
				</tr>
			</thead>
			<tbody>
				{% if dataCart is empty %}
					<tr>
						<td colspan="7" class="text-center">Ancun article dans le panier</td>

					</tr>
				{% else %}
					{% for item in dataCart %}
						{{ dump(item) }}
						<tr>
							<td>{{ item.product.picture}}</td>
							<td>{{ item.product.title}}</td>
							<td>{{ item.product.reference}}</td>
							<td>{{ item.product.category.title}}</td>
							<td>{{ item.quantity}}</td>
							<td>{{ item.product.price}}</td>


						</tr>


					{% endfor %}


				{% endif %}

			</tbody>

		</table>


	</div>


{% endblock %}
