{% extends 'base.html.twig' %}

{% block title %}Mimic | Votre panier
{% endblock %}

{% block body %}
	<style>
		.modal-backdrop {
			z-index: 1 !important;
		}
		.img_product_cart {
			width: 90px !important;
		}
	</style>


	<div class="container my-5">

		{% for label, messages in app.flashes(['success', 'danger', 'warning']) %}
			{% for message in messages %}
				<div class="bg-{{ label }} text-white text-center p-3 mb-3">
					{{ message|raw }}
				</div>
			{% endfor %}
		{% endfor %}

		<h1 class="text-center">Panier</h1>
		<table class="table table-borderless table-striped text-center align-items-center">
			<thead>
				<tr>
					<th>Photo</th>
					<th>Titre</th>
					<th>Référence</th>
					<th>Catégorie</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Prix total</th>
				</tr>
			</thead>
			<tbody>
				{% if dataCart is empty %}
					<tr>
						<td colspan="7" class="text-center">Ancun article dans le panier</td>

					</tr>
				{% else %}
					{% for item in dataCart %}
						{# {{ dump(item) }} #}
						<tr class="">
							<td><img src="{{ asset('uploads/images/' ~ item.product.picture) }}" alt="" class="img-fluid img-thumbnail img_product_cart w-50"></td>
							<td class="">{{ item.product.title}}</td>
							<td>{{ item.product.reference}}</td>
							<td>{{ item.product.category.title}}</td>
							<td>{{ item.quantity}}</td>
							<td>{{ item.product.price}}
								€</td>
							<td>{{ item.product.price *  item.quantity }}
								€</td>
							<td>
								<button href="" class="btn btn-danger" data-toggle="modal" data-target="#product-{{ item.product.id }}">
									<i class="fa-solid fa-trash"></i>
								</button>
								{# {{ dump( item.product.id) }} #}
							</td>

							<!-- Modal -->
							<div class="modal fade" id="product-{{ item.product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Produit :
												<strong>{{item.product.title }}</strong>
											</h5>
										</div>
										<div class="modal-body">
											Voulez-vous supprimer ce produit du panier ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
											<a href="{{ path('app_cart_remove', {'id': item.product.id}) }}" class="btn btn-primary">Supprimer</a>
										</div>
									</div>
								</div>
							</div>


						</tr>


					{% endfor %}
					<tr>
						<th>MONTANT TOTAL</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th>{{ total }}
							€</th>
						<th></th>
					</tr>
				{% endif %}

			</tbody>

		</table>
		<div class="row align-items-center">
			<div class="block_button p-2 mb-4">
				{% if dataCart is not empty %}
					{% if app.user %}
						<a href="{{ path('app_cart_payment') }}" class="btn btn-dark">Valider la commande</a>
					{% else %}
						<a href="" class="btn btn-dark">Identifiez-vous</a>
					{% endif %}
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cart-modal-delete">Vider le panier</button>

					<div class="modal fade" id="cart-modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">
										<strong>Panier</strong>
									</h5>
								</div>
								<div class="modal-body">
									Voulez-vous supprimer tous les produits du panier ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
									<a href="{{ path('app_cart_delete') }}" class="btn btn-primary">Supprimer</a>
								</div>
							</div>
						</div>
					</div>


				{% endif %}
			</div>
		</div>

		<a href="{{ path('app_products') }}" class="btn btn-primary">Retour à la boutique</a>
	</div>
{% endblock %}
